[core]
  editor = code --wait
  sshCommand = "ssh -i ~/.ssh/id_ed25519"
[commit]
  gpgsign = true
[gpg]
  program = /usr/local/bin/gpg
[user]
  name = "Mat Milbury"
  email = "mat@matmilbury.com"
  signingkey = "8EEE459F8855C22C"
[includeIf "gitdir:maciejmyslinski/"]
    path = .gitconfig-maciejmyslinski
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
  ff = only
  rebase = true
[rebase]
  autoStash = true

